.malben {
  background-color: green;
  display: inline-block;
  height: 200px;
  width: 400px;
  margin: 50%;
}

.meuyan {
  background-color: yellow;
  display: inline-block;
  height: 200px;
  width: 400px;
  margin: 50%;

  border-radius: 50%;
}

.circle {
  background-color: blue;
  display: inline-block;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-inline: auto;
}
@import "compass/css3";

.rhombus {
  background: #CCC;
  margin: 100px auto;
  border: 1px solid #000;
}




